/* JP Latest Posts Shortcode Style */

.jp-latest-posts {
	list-style: none !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0px !important;
	display: block !important;
}

.jp-latest-posts li {
	border-bottom: 1px solid #E6E6E6 !important;
	overflow: hidden !important;
	padding: 5px 0px !important;
	margin: 0px 3px !important;
}
.jp-latest-posts li:last-child {
	border-bottom: 0px !important;
}

.jp-latest-posts li img {
	border: 1px solid #e6e6e6 !important;
	box-shadow: inherit !important;
	float: left !important;
	margin: 5px 5px 5px 0 !important;
	padding: 3px !important;
}

.jp-latest-posts li h2 {
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 21px !important;
	margin: 0px 0px 0px 0px !important;
	text-align: justify !important;
}

.jp-latest-posts li h2 a {
	text-decoration:none;
}

.jp-latest-posts li p {
	font-size: 12px !important;
	margin: 6px 0 0 !important;
	padding: 0 !important;
	text-align: justify !important;
}